
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
//$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$white:#fff;
$purple:#C71EE5;
$pink: #F56685;

//主题色调
$themeColor: #FF6200;
$themeHover: #ff8133;
$bg: #0A0C1A;


//text-color
$text-color-primary: #012339;
$text-color-default: #54778c;

// font-size
$text-size-base:12px;
$text-size-mini:$text-size-base - 2;  //10px
$text-size-small:$text-size-base;   //12px
$text-size-normal:$text-size-base + 2; //14px
//border
$--border-color-base: #DDE4E8 !default;
$--border-color-light: #FAFBFC !default;
$--border-color-lighter: #ebebf5 !default;
$--border-color-extra-light: #f2f6fc !default;

$app-background-color: #f8f8f8; // 网页整体灰色背景
$tag-view-background-color: #eeeeee; // 页签背景颜色


$border-color-normal: #B8C7CF;
$border-color-hover: #1E3E52;


$primary: #3881EF;
$success: #20c520;
$danger: #EE3611;
$info: #409eff;
$warning: #E7AE0C;


$sidebar-open-width: 230px;// 左侧菜单栏打开时宽度
$sidebar-hide-width: 64px;// 左侧菜单栏收起时宽度




